<div class="modal fade" id="disambiguation-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Multiple Regions Selected</h4>
			</div>
			<div class="modal-body">
				<p>Please select a single region:</p>
				<div class="btn-group-vertical" role="group" aria-label="Region Selection Group">
					{{#each regions}}
					<button type="button" data-region-id="{{this.id}}" class="btn btn-default region-btn" data-dismiss="modal">
						{{this.name}}
						<span class="text-info">(Available constituents: 
						{{#each this.constituents}}{{this.name}}{{#if @last}}{{else}},{{/if}}{{/each}})
						</span>
					</button>
					{{/each}}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="button-region-cancel" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>