<nav>
</nav>

{{!-- END App Title Area --}}

{{!-- Start Content Area --}}
<div id="map-ui-container">

	{{!--======Map======--}}
	<div id="map-container"></div>
	
	{{!--======Model Selection======--}}
	<div id="model-selection-container">
	</div>

	{{!--======Region Search======--}}
	<div id="region-search-container-div">
	</div>


	{{!--======Map Filter Sidebar======--}}
	<div id="map-sidebar-container">
	</div>

	<div id="legend-container"></div>
	
</div>{{!--map-ui-container--}}

<div class="modal fade" id="disambiguation-modal"></div>