<div id="filter-container">
	<p>Choose Area of Interest&nbsp;</p>
	<span class="fa fa-question" aria-hidden="true"></span>
	<select id="state" size="5" multiple="true">
		{{#each states}}
		<option value="{{this}}">{{this}}</option>
		{{/each}}
	</select>
	<select id="receiving-water-body">
		<option value="waterbody">Receiving Water Body</option>
		<option value="Water Body 1">Water Body 1</option>
		<option value="Water Body 2">Water Body 2</option>
		<option value="Water Body 3">Water Body 3</option>
	</select>
	<select id="watershed">
		<option value="watershed">Watershed</option>
		<option value="example1">Example1</option>
		<option value="example2">Example2</option>
		<option value="example3">Example3</option>
	</select>
	<p>Choose a Data Series&nbsp;</p>
	<span class="fa fa-question" aria-hidden="true"></span>
	<select id="data-series">
		<option value="total_yield" {{isSelected "total_yield" dataSeries}} >Total Yield</option>
		<option value="incremental_yield" {{isSelected "incremental_yield" dataSeries}} >Incremental Yield</option>
		<option value="decayed_incremental" {{isSelected "decayed_incremental" dataSeries}} >Incremental Load</option>
		<option value="total_concentration" {{isSelected "total_concentration" dataSeries}} >Flow-weighted Concentration</option>
	</select>
	<!--<p>Group Results by:</p>
	<select id="group-result-by">
		<option value="group-catchment">Catchment</option>
		<option value="group-huc8">HUC 8</option>
		<option value="group-tributary-outlet">Tributary Outlet</option>
		<option value="group-main-river-basin">Main River Basin</option>
		<option value="group-state">State</option>
	</select>
	<p class="advanced-toggle">Advanced Options</p>
	<span class="glyphicon glyphicon-question-sign advanced-toggle" aria-hidden="true"></span>
	<button class="advanced-options-item advanced-toggle" id="change-inputs">Change Inputs</button>
	<button class="advanced-options-item advanced-toggle" id="downstream-tracking">Downstream Tracking</button>
	<button id="advanced-options">Advanced Options</button>-->
</div>
<!--<div id="download-container">
	<p>View/Download Data</p>
	<img src="img/view-icon.png" alt="view data icon" title="View Graph Data"/>
	<img src="img/download_model-icon.png" alt="Download model icon" title="Download Model Data"/>
	<img src="img/download-spatial-icon.png" alt="Download spatial icon" title="Download Spatial Data"/>
	<img src="img/download-calibration-icon.png" alt="Download calibration icon" title="Download Calibration Data"/>
</div>-->