*.class

.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/nb-configuration.xml
/target/
/src/main/webapp/META-INF
/src/main/webapp/css/bootstrap/
/src/main/webapp/css/base.css
/src/main/webapp/css/custom.css.map
/src/main/webapp/css/header-footer.css.map
/src/main/webapp/css/custom.css
/src/main/webapp/css/header-footer.css
/src/main/webapp/css/base.css.map