<PredictionContext xmlns="http://www.usgs.gov/sparrow/prediction-schema/v0_2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" model-id="{{modelId}}">
	<adjustmentGroups conflicts="accumulate">
		<individualGroup enabled="true"></individualGroup>
	</adjustmentGroups>
	<analysis>
		<dataSeries source="">{{dataSeries}}</dataSeries>
	</analysis>
	<terminalReaches></terminalReaches>
	<nominalComparison type="none"></nominalComparison>
</PredictionContext>